.navbar{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navbar li {
   margin-right: 1rem;
}

.home-component {
  height: 100 vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.home-component img{
   width: 60%;
   border-radius: 50%;
}

.home-component h1{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
}

.header{
  text-align: center;
}

.form, .info-container{
  width: 30%;
  margin: auto;
}

.info-container {
  text-align: center;
}

.form {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.form input, button, textarea{
    width: 100%;
    margin-top: 1rem;
}


.form input{
  padding: 5px;
}

