.navbar{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navbar li {
   margin-right: 1rem;
}

.home-component {
  height: 100 vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.home-component img{
   width: 60%;
   border-radius: 50%;
}

.home-component h1{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
}